PORT=3001
MONGODB_URI=mongodb+srv://munaafnadeem:MicG1Bv2YgSZllCZ@cluster1.nur52jv.mongodb.net/?retryWrites=true&w=majority&appName=Cluster1
JWT_SECRET=your_jwt_secret
SESSION_SECRET=your-session-secret-key
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
FRONTEND_URL=http://localhost:3000
HUGGINGFACE_API_KEY=your_huggingface_api_key
OLLAMA_BASE_URL=http://localhost:11434 
REACT_APP_API_URL=https://mindease-backend-84xe.onrender.com
